footer {
    width: 100%;
    background: #834e19;
    text-align: center;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    color: #000;
}

footer a{
    color: #000;
    text-decoration: none;
}